.loginPage {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--dark-black);
  color: var(--dark-white);
}

.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--dark-white);
  min-width: 400px;
  padding: 10px;
  border-radius: 5px;
}
